.center-wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .center-wrapper {
    width: 768px;
  }
}

@media (min-width: 1150px) {
  .center-wrapper {
    width: 1150px;
  }
}
